{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
{% block title %}{% endblock %}
{% block body %}
    <h1> L'employé: </h1>
    <table border="1">
        <tr>
            <th>ID         </th>
            <td>{{ Employe.id}}</td>
        <tr>
            <th>Nom</th>
            <td>{{ Employe.nom}}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ Employe.prenom}}</td>
        </tr>
        <tr>
            <th> Email</th>
            <th>    {{ Employe.email }}   </th>
        </tr>
        <tr>
            <th>Date de naissance</th>
            <td>{{ Employe.dateNaissance.format('Y-m-d')}}</td>
        </tr>
        <th>Lieu de naissance</th>
        <td>{{ Employe.lieuNaissance}}</td>
        <tr>
            <th>Sexe</th>
            <td>{{ Employe.sexe}}</td>
        </tr>
        <th>Adresse</th>
        <td>{{ Employe.adresse}}</td>
        <tr>

        </tr>
        <th>Numero de telephone</th>
        <td>{{ Employe.numeroTelephone}}</td>
        <tr>
            <th>Code CCP</th>
            <td>{{ Employe.ccp}}</td>
        </tr>
        <th>Situation Familiale</th>
        <td>{{ Employe.SituationFamiliale}}</td>
        <tr>
            <th>Nombre d'enfants</th>
            <td>{{ Employe.nombreEnfant}}</td>
        </tr>
        <th>Salaire de base</th>
        <td>{{ Employe.SalaireDeBase}}</td>
        <tr>
            <th>Filiale</th>
            <td>{{ Employe.filiale}}</td>
        </tr>
        <tr>
            <th>Poste</th>
            <td>{{ Employe.poste}}</td>
        </tr>
    </table>
    <a href=""class="btn btn-primary"> Visualiser Bulletin de paie </a>
    <br>
    <a href="{{ path('directeur_lister_employe')}}"class="btn btn-primary"> Retour </a>
{% endblock %}