{% extends 'base.html.twig' %}
{% block title %}Historique de Presence{% endblock %}
{% block stylesheets %}
    <style>
        .color-99CC5B{background-color:#00008B;}
        .color-99CC5B:hover{background-color:#00008B; }
        body {
            background-image: url('{{asset('/images/back.png')}}');
            margin: 0;
            padding: 0;
            background-color: white;
            height: 100vh;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Historique de présence</h1>
    <hr>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Heure d'arrivee</th>
            <th scope="col">Heure de sortie</th>
        </tr>
        </thead>
        <tbody>
        {% for Presence in Presence %}
            <tr>
                <td>{{ Presence.date.format('Y-m-d')}}</td>
                <td>{{ Presence.HeureIn.format('h:m')}}</td>
                <td>{{ Presence.HeureOut.format('h:m')}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('directeur_lister_employe')}}" class="btn btn-dark color-99CC5B">Retour</a>
{% endblock %}