{% extends 'base.html.twig' %}

{% block title %}Espace Personnel Directeur General {% endblock %}
{% block stylesheets %}
    <style>
        .color-99CC5B{background-color:#00008B;}
        .color-99CC5B:hover{background-color:#00008B; }
        .btn
        {
            width: 225px;
        }
        body {
            background-image: url('{{asset('/images/back.png')}}');
            background-repeat: repeat;
            margin: 0;
            padding: 0;
            background-color: white;
            height: 100vh;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            width: auto;
        }
    </style>
{% endblock %}
{% block body %}
    <h1 style="color:#40A497"><strong><i>Bienvenue dans votre espace personnel, {{ Employe.nom}}  {{ Employe.prenom}}! </i></strong></h1>
    <hr style="color: #AB99BD">
    <a href="{{ path('dg_view_bulletin',{id:Employe.id}) }}"class="btn btn-dark color-99CC5B"> Mes bulletins de paie </a>
    <a href="{{ path('dg_historique_presence',{id:Employe.id}) }}"class="btn btn-dark color-99CC5B"> Mon historique de presence </a>
    <a href="{{ path('dg_lister_employe') }}"class="btn btn-dark color-99CC5B">Afficher la liste des employés </a>
    <br>
    <br>
    <table  class=" table-bordered center" style="border-width: medium; border-color: #40A497;
    border-left-color: #AB99BD; border-bottom-color: #AB99BD" >
        <colgroup>
            <col span="1" style="background:transparent">
        </colgroup>
        <colgroup>
            <col span="1" style="background:transparent">
        </colgroup>
        <tr>
            <th style="color:#000000" scope="col" width="40%"> ID</th>
            <th scope="col" width="60%" style="color:#000000"><span style="font-weight:normal;">{{ Employe.id}}</span></th>
        </tr>


        <tbody>
        <th style="color:#000000">Nom </th>
        <th style="color:#000000"><span style="font-weight:normal;">{{ Employe.nom}}</span></th>
        </tr>
        <tr>
            <th style="color:#000000">Prénom</th>
            <th style="color:#000000"><span style="font-weight:normal;">{{ Employe.prenom}}</span></th>
        </tr>
        <tr>
            <th style="color:#000000"> Email</th>
            <th style="color:#000000"> <span style="font-weight:normal;">{{ Employe.email }}</span></th>
        </tr>
        <tr>
            <th style="color:#000000">Date de naissance</th>
            <th style="color:#000000"><span style="font-weight:normal;">{{ Employe.dateNaissance.format('Y-m-d')}}</span></th>
        </tr>
        <th style="color:#000000">Lieu de naissance</th>
        <th style="color:#000000"><span style="font-weight:normal;">{{ Employe.lieuNaissance}}</span></th>
        <tr>
            <th style="color:#000000">Sexe</th>
            <th style="color:#000000"><span style="font-weight:normal;">{{ Employe.sexe}}</span></th>
        </tr>
        <th style="color:#000000">Adresse</th>
        <th style="color:#000000"><span style="font-weight:normal;">{{ Employe.adresse}}</span></th>
        <tr>

        </tr>
        <th style="color:#000000">Numero de telephone</th>
        <th style="color:#000000"><span style="font-weight:normal;">{{ Employe.numeroTelephone}}</span></th>
        <tr>
            <th style="color:#000000">Code CCP</th>
            <th style="color:#000000"><span style="font-weight:normal;">{{ Employe.ccp}}</span></th>
        </tr>
        <th style="color:#000000">Situation Familiale</th>
        <th style="color:#000000"><span style="font-weight:normal;">{{ Employe.SituationFamiliale}}</span></th>
        <tr>
            <th style="color:#000000">Nombre d'enfants</th>
            <th style="color:#000000"><span style="font-weight:normal;">{{ Employe.nombreEnfant}}</span></th>
        </tr>
        <tr>
            <th style="color:#000000">Filiale</th>
            <th style="color:#000000"><span style="font-weight:normal;">{{ Employe.filiale}}</span></th>
        </tr>
        <tr>
            <th style="color:#000000">Poste</th>
            <th style="color:#000000"><span style="font-weight:normal;">{{ Employe.poste}}</span></th>
        </tr>
        </tbody>
    </table>
    <br><br>
    <a href="{{ path('dg_modifier_mdp',{id:Employe.id}) }}" class="btn btn-dark color-99CC5B">Réinitialiser mot de passe</a>
    <a href="{{ path('app_logout') }}"class="btn btn-dark color-99CC5B"> Deconnexion </a>

{% endblock %}
