{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .color-99CC5B{background-color:#00008B;}
        .color-99CC5B:hover{background-color:#00008B; }
        body {
            background-image: url('{{asset('/images/back.png')}}');
            margin: 0;
            padding: 0;
            background-color: white;
            height: 100vh;
        }
    </style>
{% endblock %}
{% block body %}
    <h1 style="color:#40A497"><strong><i>Liste des employés</i></strong></h1>
    <br>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Poste</th>
            <th scope="col">Filiale</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for Employe in Employes %}
            <tr>
                <th scope="row">{{ Employe.id }}</th>
                <td>{{ Employe.email }}</td>
                <td>{{ Employe.nom }}</td>
                <td>{{ Employe.prenom }}</td>
                <td>{{ Employe.poste }}</td>
                <td>{{ Employe.filiale }}</td>
                <td>
                    <a href="{{ path('dg_profile_employe',{id:Employe.id})}}" class="btn btn-dark color-99CC5B">Afficher</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('directeur_general')}}"class="btn btn-dark color-99CC5B"> Retour </a>
{% endblock %}