{% extends 'base.html.twig' %}
{% block title %}Mes bulletins{% endblock %}
{% block stylesheets %}
    <style>
        .color-99CC5B{background-color:#00008B;}
        .color-99CC5B:hover{background-color:#00008B; }
        body {
            background-image: url('{{asset('/images/back.png')}}');
            background-repeat: repeat;
            margin: 0;
            padding: 0;
            background-color: white;
            height: 100vh;
        }
    </style>
{% endblock %}
{% block body %}
    <h1 style="color:#40A497"><strong><i>Mes bulletins de paie</i></strong></h1>
    <br>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Total heures supp</th>
            <th scope="col">Total heures abs</th>
            <th scope="col">IEP</th>
            <th scope="col">Allo fam</th>
            <th scope="col">Prime panier</th>
            <th scope="col">Cotisation</th>
            <th scope="col">impots</th>
            <th scope="col">Total</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for Bulletin in Bulletin %}
            <tr>
                <td>{{ Bulletin.date.format('Y-m-d')}}</td>
                <td>{{ Bulletin.TotalHeureSupp}} heures</td>
                <td>{{ Bulletin.TotalHeureAbs}} heures</td>
                <td>+{{ Bulletin.IEP}} DA</td>
                <td>+{{ Bulletin.allocationFamiliale}} DA</td>
                <td>+{{ Bulletin.Panier}} DA</td>
                <td>+{{ Bulletin.Cotisations}} DA</td>
                <td>+{{ Bulletin.Impots}} DA</td>
                <td scope="row">{{ Bulletin.total }} DA</td>
                <td>
                    <a target="_blank" href="{{ path('dg_fiche_paie',{id_bulletin:Bulletin.id})}}" class="btn btn-dark color-99CC5B">Afficher</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('directeur_general')}}" class="btn btn-dark color-99CC5B">Retour</a>
{% endblock %}