{% extends 'base.html.twig' %}
{% block title %}Ajouter Poste!{% endblock %}
{% block stylesheets %}
    <style>
        .color-99CC5B{background-color:#00008B;}
        .color-99CC5B:hover{background-color:#00008B; }
    body {
    margin: 0;
    padding: 0;
    background-image: url('{{asset('/images/back.png')}}');
        background-repeat: repeat;
    height: 100vh;
    }
    .row {
    margin-left: 40%;
    margin-right: auto;
    width:  500px;
    }
    </style>
    <style>
        @media (max-width: 600px) {
        .color-99CC5B{background-color:#00008B;}
            .color-99CC5B:hover{background-color:#00008B; }
            body {
                margin: 0;
                padding: 0;
                background-image: url('{{asset('/images/back.png')}}');
                background-repeat: repeat;
                height: 100vh;
            }
            .row {
                margin-left: auto;
                margin-right: auto;
                width:  300px;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <h1 style="color:#40A497"><strong><i>Ajouter Poste</i></strong></h1>
    <hr>
    <br>
<div class="row">
    {{ form_start(formPost) }}
    <div class="col-md-6">
        {{ form_row(formPost.nom, { 'label': 'Nom du poste' }) }}<br>
        {{ form_row(formPost.salaire_de_base, { 'label': 'Salaire de base' }) }}<br>
        {{ form_row(formPost.Nombre_Jour_par_Semaine, { 'label': 'Nombre de jours par semaine' }) }}<br>
        {{ form_row(formPost.Nombre_Heure_par_jour, { 'label': 'Nombre d\'heures par jour' }) }}<br>
        {{ form_row(formPost.submit, { 'label': 'Ajouter' }) }}<br>
        <br>
        <a href="{{ path('rh_lister_poste')}}"class="btn btn-dark color-99CC5B"> Retour </a>
    </div>
    {{ form_end(formPost) }}
</div>

{% endblock %}
