{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
    .center {
    margin-left: auto;
    margin-right: auto;
    }
    </style>
{% endblock %}
{% block body %}
    <h1> Profil de {{ Employe.nom}} {{ Employe.prenom}} </h1>
    <table border="2" class="center">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">{{ Employe.id}}</th>
        </tr>
            <th>Nom</th>
            <th>{{ Employe.nom}}</th>
        </tr>
        <tr>
            <th>Prénom</th>
            <th>{{ Employe.prenom}}</th>
        </tr>
        <tr>
            <th> Email</th>
            <th>    {{ Employe.email }}   </th>
        </tr>
        <tr>
            <th>Date de naissance</th>
            <th>{{ Employe.dateNaissance.format('Y-m-d')}}</th>
        </tr>
        <th>Lieu de naissance</th>
        <th>{{ Employe.lieuNaissance}}</th>
        <tr>
            <th>Sexe</th>
            <th>{{ Employe.sexe}}</th>
        </tr>
        <th>Adresse</th>
        <th>{{ Employe.adresse}}</th>
        <tr>

        </tr>
        <th>Numero de telephone</th>
        <th>{{ Employe.numeroTelephone}}</th>
        <tr>
            <th>Code CCP</th>
            <th>{{ Employe.ccp}}</th>
        </tr>
        <th>Situation Familiale</th>
        <th>{{ Employe.SituationFamiliale}}</th>
        <tr>
            <th>Nombre d'enfants</th>
            <th>{{ Employe.nombreEnfant}}</th>
        </tr>
        <th>Salaire de base</th>
        <th>{{ Employe.SalaireDeBase}}.00 DA</th>
        <tr>
            <th>Filiale</th>
            <th>{{ Employe.filiale}}</th>
        </tr>
        <tr>
            <th>Poste</th>
            <th>{{ Employe.poste}}</th>
        </tr>
    </table>
    <a href="{{ path('rh_bulletin_employe',{id:Employe.id}) }}"class="btn btn-dark"> Visualiser Bulletin de paie </a>
    <br>
    <br>
    <a href="{{ path('rh_lister_employe')}}"class="btn btn-dark"> Retour </a>
{% endblock %}