{% extends 'base.html.twig' %}

{% block title %}Espace Personnel RH{% endblock %}

{% block rochdi %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 240px;height: 100vh;
                    margin-left: 0px;">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                        <span class="fs-4">{{Employe.nom}} {{Employe.prenom}}</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="{{ path('rh') }}" class="nav-link active" aria-current="page">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                                MON PROFIL
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('rh_view_bulletin',{id:Employe.id}) }}" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                                MON BULLETIN
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('rh_historique_presence',{id:Employe.id}) }}" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                                MON HISTORIQUE DE PRESENCE
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('rh_lister_employe') }}" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                                GESTION EMPLOYES
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('rh_lister_poste') }}" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                                GESTION POSTES
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                                DECONNEXION
                            </a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="col">
                <h1>Bienvenue dans votre espace personnel, {{Employe.nom}} !</h1>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">{{ Employe.id}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th>Nom</th>
                    <th>{{ Employe.nom}}</th>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <th>{{ Employe.prenom}}</th>
                    </tr>
                    <tr>
                        <th> Email</th>
                        <th>    {{ Employe.email }}   </th>
                    </tr>
                    <tr>
                        <th>Date de naissance</th>
                        <th>{{ Employe.dateNaissance.format('Y-m-d')}}</th>
                    </tr>
                    <th>Lieu de naissance</th>
                    <th>{{ Employe.lieuNaissance}}</th>
                    <tr>
                        <th>Sexe</th>
                        <th>{{ Employe.sexe}}</th>
                    </tr>
                    <th>Adresse</th>
                    <th>{{ Employe.adresse}}</th>
                    <tr>

                    </tr>
                    <th>Numero de telephone</th>
                    <th>{{ Employe.numeroTelephone}}</th>
                    <tr>
                        <th>Code CCP</th>
                        <th>{{ Employe.ccp}}</th>
                    </tr>
                    <th>Situation Familiale</th>
                    <th>{{ Employe.SituationFamiliale}}</th>
                    <tr>
                        <th>Nombre d'enfants</th>
                        <th>{{ Employe.nombreEnfant}}</th>
                    </tr>
                    <th>Salaire de base</th>
                    <th>{{ Employe.SalaireDeBase}}.00 DA</th>
                    <tr>
                        <th>Filiale</th>
                        <th>{{ Employe.filiale}}</th>
                    </tr>
                    <tr>
                        <th>Poste</th>
                        <th>{{ Employe.poste}}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>




{% endblock %}
