{% extends 'base.html.twig' %}

{% block title %}Hello RhController!{% endblock %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('rh_ajouter_employe') }}">ajouter employe</a>
        </li>
        <li>
            <a href="{{ path('app_login') }}">ajouter employe</a>
        </li>
        <li>
            <a href="{{ path('app_login') }}">ajouter employe</a>
        </li>
        <li>
            <a href="{{ path('app_login') }}">ajouter employe</a>
        </li>
        <li>
            <a href="{{ path('app_login') }}">ajouter employe</a>
        </li>
    </ul>

{% endblock %}
