{% extends 'base.html.twig' %}

{% block title %}Espace Personnel {{Employe.id}} {% endblock %}
{% block stylesheets %}
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: white;
            height: 100vh;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            width: auto;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Bienvenue dans votre espace personnel, {{Employe.nom}} {{Employe.prenom}} !</h1>
    <hr>
    <a href="{{ path('rh_view_bulletin',{id:Employe.id}) }}" class="btn btn-dark"> Mon Bulletin de paie</a>
    <a href="{{ path('rh_historique_presence',{id:Employe.id}) }}" class="btn btn-dark"> Mon Historique De Présence</a>
    <a href="{{ path('rh_lister_employe') }}" class="btn btn-dark">Gestion des Employés</a>
    <a href="{{ path('rh_lister_poste') }}" class="btn btn-dark">Gestion des Postes</a>
    <br>
    <br>
    <br>
    <table  class=" table-bordered center" >
        <colgroup>
            <col span="1" style="background-color:#242B32">
        </colgroup>
        <colgroup>
            <col span="1" style="background-color:#242B32">
        </colgroup>
        <tr>
            <th style="color:whitesmoke" scope="col" >ID</th>
            <th style="color:whitesmoke" scope="col">{{ Employe.id}}</th>
        </tr>
        <tbody>
        <tr>
        <th style="color:whitesmoke">Nom </th>
        <th style="color:whitesmoke">{{ Employe.nom}}</th>
        </tr>
        <tr>
            <th style="color:whitesmoke">Prénom</th>
            <th style="color:whitesmoke">{{ Employe.prenom}}</th>
        </tr>
        <tr>
            <th style="color:whitesmoke"> Email</th>
            <th style="color:whitesmoke">{{ Employe.email }}   </th>
        </tr>
        <tr>
            <th style="color:whitesmoke">Date de naissance</th>
            <th style="color:whitesmoke">{{ Employe.dateNaissance.format('Y-m-d')}}</th>
        </tr>
        <tr>
        <th style="color:whitesmoke">Lieu de naissance</th>
        <th style="color:whitesmoke">{{ Employe.lieuNaissance}}</th>
        </tr>
        <tr>
            <th style="color:whitesmoke">Sexe</th>
            <th style="color:whitesmoke">{{ Employe.sexe}}</th>
        </tr>
        <tr>
        <th style="color:whitesmoke">Adresse</th>
        <th style="color:whitesmoke">{{ Employe.adresse}}</th>

        </tr>
        <tr>
        <th style="color:whitesmoke">Numero de telephone</th>
        <th style="color:whitesmoke">{{ Employe.numeroTelephone}}</th>
        </tr>
        <tr>
            <th style="color:whitesmoke">Code CCP</th>
            <th style="color:whitesmoke">{{ Employe.ccp}}</th>
        </tr>
        <tr>
        <th style="color:whitesmoke">Situation Familiale</th>
        <th style="color:whitesmoke">{{ Employe.SituationFamiliale}}</th>
        </tr>
        <tr>
            <th style="color:whitesmoke">Nombre d'enfants</th>
            <th style="color:whitesmoke">{{ Employe.nombreEnfant}}</th>
        </tr>
        <tr>
            <th style="color:whitesmoke">Filiale</th>
            <th style="color:whitesmoke">{{ Employe.filiale}}</th>
        </tr>
        <tr>
            <th style="color:whitesmoke">Poste</th>
            <th style="color:whitesmoke">{{ Employe.poste}}</th>
        </tr>
        </tbody>
    </table>
    <br>
    <a href="{{ path('rh_modifier_mdp',{id:Employe.id}) }}" class="btn btn-dark">Réinitialiser mot de passe</a>
    <a href="{{ path('app_logout') }}" class="btn btn-dark">Deconnexion</a>
{% endblock %}




