{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
{% block title %}{% endblock %}
{% block body %}
<h1> Liste des employés : </h1>
    <table border="1">
        <caption><h2>Liste des employés de la filiale :</h2></caption>

        <tr>
            <th>Identifiant        </th>
            <th>Nom                </th>
            <th>Prénom             </th>
            <th>Date de naissance  </th>
            <th>Lieu de naissance  </th>
            <th>Sexe               </th>
            <th>Adresse            </th>
            <th>Numéro de téléphone</th>
            <th>CCP                </th>
            <th>Situation familiale</th>
            <th>Nombre d'enfant    </th>
            <th>Salaire de base    </th>
            <th>Filiale            </th>
            <th>Poste              </th>
        </tr>
        {% for Employe in Employes %}
        <tr>
        <td>{{ Employe.id}}</td>
        <td>{{ Employe.nom}}</td>
        <td>{{ Employe.prenom}}</td>
            {% if Employe.dateNaissance!=null  %}
                <td>{{ Employe.dateNaissance.format('Y-m-d')}}</td>
                {% else %}
                    <td>null</td>
            {% endif%}
        <td>{{ Employe.lieuNaissance}}</td>
        <td>{{ Employe.sexe}}</td>
        <td>{{ Employe.adresse}}</td>
        <td>{{ Employe.numeroTelephone}}</td>
        <td>{{ Employe.ccp}}</td>
        <td>{{ Employe.SituationFamiliale}}</td>
        <td>{{ Employe.nombreEnfant}}</td>
        <td>{{ Employe.SalaireDeBase}}</td>
        <td>{{ Employe.filiale}}</td>
        <td>{{ Employe.poste}}</td>
        <td><a href="{{ path('rh_modifier_employe',{id:Employe.id}) }}" class="btn btn-primary">Modifier</a></td>
        <td><a href="{{ path('rh_supprimer_employe',{id:Employe.id}) }}" class="btn btn-primary">Supprimer</a></td>
            <td><a href="{{ path('rh_profile_employe',{id:Employe.id})}}" class="">Visualiser</a></td>
        </tr>
        {% endfor %}

    </table>

<a href="{{ path('rh')}}"> retour a la page  d'acceuil </a>
{% endblock %}
