{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
{% block title %}Gestion des postes{% endblock %}
{% block body %}
    <h1> Liste des postes de travail</h1>
    <hr>
    <a href="{{ path('rh_ajouter_poste')}}" class="btn btn-dark">Ajouter</a>
    <br>
    <br>
        <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Salaire de base</th>
            <th scope="col">Nombre de jours de travail par semaine</th>
            <th scope="col">Nombre d'heures de travail par jour</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
            <tbody>
        {% for Poste in Postes %}
            <tr>
                <th>{{ Poste.nom}}</th>
                <th>{{ Poste.SalaireDeBase}}.00 DA</th>
                <th>{{ Poste.NbJourSemaine}} jours</th>
                <th>{{ Poste.NbHeureJour}} heures</th>
              <td><a href="{{ path('rh_modifier_poste',{id:Poste.id})}}" class="btn btn-dark">Modifier</a>
                <a href="{{ path('rh_supprimer_poste',{id:Poste.id}) }}" class="btn btn-dark">Supprimer</a></td>
            </tr>
        {% endfor %}
            </tbody>
    </table>
    <br>
    <a href="{{ path('rh')}}"class="btn btn-dark"> Retour </a>
    <br>
    <br>
{% endblock %}
