{% extends 'base.html.twig' %}
{% block title %}Gestion des employés{% endblock %}
{% block stylesheets %}
    <style>
        .color-99CC5B{background-color:#00008B;}
        .color-99CC5B:hover{background-color:#00008B; }
        #ajouter{
            margin-left: 69%;
        }
        body {
            background-image: url('{{asset('/images/back.png')}}');
            background-repeat: repeat;
            margin: 0;
            padding: 0;
            background-color: white;
            height: 100vh;
        }
    </style>
    <style>
        @media (max-width: 600px) {
            .color-99CC5B {
                background-color: #00008B;
            }

            .color-99CC5B:hover {
                background-color: #00008B;
            }
            #ajouter{
                margin-left: 114%;
            }

            body {
                width: 550px;
                background-image: url('{{asset('/images/back.png')}}');
                background-repeat: repeat;
                margin: 0;
                padding: 0;
                background-color: white;

            }
        }
    </style>
{% endblock %}
{% block body %}
    <h1 style="color:#40A497"><strong><i>Liste des employés de la filiale</i></strong></h1>
    <br>
    <a id="ajouter" href="{{ path('rh_ajouter_employe') }}" class="btn btn-info">Ajouter</a>
    <br><br>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Poste</th>
            <th scope="col">Filiale</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for Employe in Employes %}
            <tr>
                <th scope="row">{{ Employe.id }}</th>
                <td>{{ Employe.email }}</td>
                <td>{{ Employe.nom }}</td>
                <td>{{ Employe.prenom }}</td>
                <td>{{ Employe.poste }}</td>
                <td>{{ Employe.filiale }}</td>
                <td>
                    <a href="{{ path('rh_profile_employe',{id:Employe.id})}}" class="btn btn-dark color-99CC5B">Afficher</a>
                    <a href="{{ path('rh_modifier_employe',{id:Employe.id})}}" class="btn btn-info">Modifier</a>
                    <a href="{{ path('rh_supprimer_employe',{id:Employe.id})}}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('rh')}}"class="btn btn-dark color-99CC5B"> Retour </a>
{% endblock %}
