{% extends 'base.html.twig' %}
{% block title %}Modifier un poste{% endblock %}
{% block stylesheets %}
    <style>
        .color-99CC5B{background-color:#00008B;}
        .color-99CC5B:hover{background-color:#00008B; }
        body {
            margin: 0;
            padding: 0;
            background-image: url('{{asset('/images/back.png')}}');
            height: 100vh;
        }
        .row {
            margin-left: 40%;
            margin-right: auto;
            width:  500px;
        }
    </style>
{% endblock %}
{% block body %}
    <h1 style="color:#40A497"><strong><i>Modification poste de travail</i></strong></h1>
    <hr>
    <div class="row">
        {{ form_start(formila) }}
        <div class="col-md-6">
            {{ form_row(formila.nom, { 'label': 'Nom poste' }) }}<br>
            {{ form_row(formila.salaire_de_base, { 'label': 'Salaire de base' }) }}<br>
            {{ form_row(formila.NombreDeJoursDeTravailParSemaine, { 'label': 'Nombre jour de travail par semaine' }) }}<br>
            {{ form_row(formila.NombreHeuresDeTravailParJour, { 'label': 'nombre heure de travail par jour' }) }}<br>
            {{ form_row(formila.Confirmer, { 'label': 'Confirmer' }) }}<br>
            <br>
            <a href="{{ path('rh_lister_poste')}}"class="btn btn-dark color-99CC5B"> Retour </a>
        </div>
        {{ form_end(formila) }}
    </div>
{% endblock %}