{% extends 'base.html.twig' %}
{% block body %}
    <h1>Bulletins de paie</h1>
    <hr>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Total heures supplementaires</th>
            <th scope="col">Total heures d'absence</th>
            <th scope="col">IEP</th>
            <th scope="col">Allocation familiale</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for Bulletin in Bulletin %}
            <tr>
                <th>{{ Bulletin.date.format('Y-m-d')}}</th>
                <th>{{ Bulletin.TotalHeureSupp}} heures</th>
                <th>{{ Bulletin.TotalHeureAbs}} heures</th>
                <th>+{{ Bulletin.IEP}} DA</th>
                <th>+{{ Bulletin.allocationFamiliale}} DA</th>
                <th scope="row">{{ Bulletin.total }} DA</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('rh')}}" class="btn btn-dark">Retour</a>
{% endblock %}