<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Fiche de paie</title>

    <style  type="text/css">
        body {
            background: #f0f0f0;
            display: flex;
            justify-content: center;
            padding: 20px;
            height: 100%;
            width: 100%;
        }
        @import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,600,700');

        * {
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            color: #444;
        }
        div#payslip {
            background: #fff;
            padding: 30px 40px;
        }

        div#title {
            font-size: 38px;
            font-weight: 600;
        }

        div#scope {
            margin-top: 20px;
            border-top: 1px solid #ccc;
            padding: 7px 0 4px 0;
            display: flex;
            justify-content: space-around;
        }

        div#scope div.scope-entry {
            text-align: center;
        }

        div#scope div.scope-entry div.value {
            font-size: 14px;
            font-weight: 700;
        }

        div.content {
            display: flex;
            height: 473px;
        }

        div.content div.left-panel {
            border-top: 1px solid #ccc;
            min-width: 200px;
            padding: 20px 16px 0 0;
        }

        div.content div.second-panel {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            width: 100%;
            padding: 10px 0  0 16px;
        }

        div#employee {
            text-align: center;
        }
        div#employee  div#name {
            font-size: 15px;
            font-weight: 700;
        }

        div#employee  div#email {
            font-size: 11px;
            font-weight: 300;
        }

        div.details, div.ytd {
            margin-top: 20px;
        }

        div.details div.entry, div.contributions div.entry, div.ytd div.entry {
            display: flex;
            justify-content: space-between;
            margin-top: 6px;
        }

        div.details div.entry div.value, div.contributions div.entry div.value, div.ytd div.entry div.value {
            font-weight: 700;
            max-width: 130px;
            text-align: end;
        }

        div.gross div.entry div.value {
            font-weight: 700;
            text-align: end;
            font-size: 16px;
        }

        div.contributions div.title, div.ytd div.title, div.gross div.title {
            font-size: 15px;
            font-weight: 700;
            padding: 4px;
            margin: 6px;
        }

        div.content div.second-panel div.details {
            width: 100%;
        }

        div.content div.second-panel div.details div.entry {
            display: flex;
            padding: 0 10px;
            margin: 6px 0;
        }

        div.content div.second-panel div.details div.label {
            font-weight: 700;
            width: 120px;
        }

        div.content div.second-panel div.details div.detail {
            font-weight: 600;
            width: 130px;
        }

        div.content div.second-panel div.details div.rate {
            font-weight: 400;
            width: 80px;
            font-style: italic;
            letter-spacing: 1px;
        }

        div.content div.second-panel div.details div.amount {
            text-align: end;
            font-weight: 700;
            width: 90px;
        }

        div.content div.second-panel div.details div.net_pay div, div.content div.second-panel div.details div.nti div {
            font-weight: 600;
            font-size: 12px;
        }

        div.content div.second-panel div.details div.net_pay {
            padding: 3px 0 2px 0;
            margin-top: 10px;
            background: rgba(0, 0, 0, 0.04);
        }
    </style>
</head>
<div id="payslip">
    <div id="title">Bulletin de paie</div>
    <div id="scope">
        <div class="scope-entry">
            <div class="title">PÉRIODE</div>
            <div class="value">{{ Bulletin.date|date('m-Y')}}</div>
        </div>
    </div>
    <div class="content">
        <div class="left-panel">
            <div id="employee">
                <div id="name">
                    {{ Employe.nom }} {{ Employe.prenom }}
                </div>
                <div id="email">
                    {{ Employe.email }}
                </div>
            </div>
            <div class="details">
                <div class="entry">
                    <div class="label">ID</div>
                    <div class="value">{{ Employe.id }}</div>
                </div>
                <div class="entry">
                    <div class="label">Sexe</div>
                    <div class="value">{{ Employe.sexe }}</div>
                </div>
                <div class="entry">
                    <div class="label">Situation familiale</div>
                    <div class="value">{{ Employe.situationFamiliale }}</div>
                </div>
                <div class="entry">
                    <div class="label">Nombre d'enfants</div>
                    <div class="value">{{ Employe.nombreEnfant }}</div>
                </div>
                <div class="entry">
                    <div class="label">Date de recrutement</div>
                    <div class="value">{{ dateRecrutement }}</div>
                </div>
                <div class="entry">
                    <div class="label">Poste</div>
                    <div class="value">{{ Employe.poste }}</div>
                </div>
                <div class="entry">
                    <div class="label">Filiale</div>
                    <div class="value">{{ Employe.filiale }}</div>
                </div>
                <div class="entry">
                    <div class="label">CCP</div>
                    <div class="value">{{ Employe.ccp }}</div>
                </div>
            </div>
            <div class="ytd">
                <div class="title">Informations poste</div>
                <div class="entry">
                    <div class="label">Salaire par heure</div>
                    <div class="value">{{ salaireParHeure }} DA</div>
                </div>
                <div class="entry">
                    <div class="label">Jours par semaine</div>
                    <div class="value">{{ Poste.NbJourSemaine }} jours</div>
                </div>
                <div class="entry">
                    <div class="label">Heures par jour</div>
                    <div class="value">{{ Poste.NbHeureJour }} heures</div>
                </div>
            </div>
            <div class="ytd">
                <div class="title">Presences / Absences</div>
                <div class="entry">
                    <div class="label">Heures absentées</div>
                    <div class="value">{{ Bulletin.TotalHeureAbs }}</div>
                </div>
                <div class="entry">
                    <div class="label">Heures supp</div>
                    <div class="value">{{  Bulletin.TotalHeureSupp }}</div>
                </div>
            </div>
        </div>
        <div class="second-panel">
            <div class="details">
                <div class="salary">
                    <div class="entry">
                        <div class="label"><strong>VERSEMENTS</strong></div>
                        <div class="detail"></div>
                        <div class="rate"></div>
                        <div class="amount"></div>
                    </div>
                    <div class="entry">
                        <div class="label"></div>
                        <div class="detail">Salaire de base</div>
                        <div class="amount">{{ Poste.SalaireDeBase|number_format(0,'.','.') }} DA</div>
                    </div>
                    <div class="entry">
                        <div class="label"></div>
                        <div class="detail">Montant heures supp</div>
                        <div class="amount">{{ montantHeureSupp|number_format(0,'.','.') }} DA</div>
                    </div>
                    <div class="entry">
                        <div class="label"></div>
                        <div class="detail">IEP (Prime d'ancienneté)</div>
                        <div class="rate">+1% du salaire de base chaque année</div>
                        <div class="amount">{{ Bulletin.iep|number_format(0,'.','.') }} DA</div>
                    </div>
                    <div class="entry">
                        <div class="label"></div>
                        <div class="detail">Allocation familiale</div>
                        <div class="rate">+600DA par enfant</div>
                        <div class="amount">{{ Bulletin.allocationFamiliale|number_format(0,'.','.') }} DA</div>
                    </div>
                    <div class="entry">
                        <div class="label"></div>
                        <div class="detail">Prime de panier</div>
                        <div class="rate">+400DA par jour travaillé</div>
                        <div class="amount">{{ Bulletin.panier|number_format(0,'.','.') }} DA</div>
                    </div>
                </div>
                <div class="leaves">
                    <div class="entry">
                        <div class="label"><strong>RETENUES</strong></div>
                        <div class="detail"></div>
                        <div class="rate"></div>
                        <div class="amount"></div>
                    </div>
                    <div class="entry paid">
                        <div class="label"></div>
                        <div class="detail">Montant heures absentées</div>
                        <div class="amount">{{ montantHeureAbs|number_format(0,'.','.') }} DA</div>
                    </div>
                    <div class="entry unpaid">
                        <div class="label"></div>
                        <div class="detail">Cotisations</div>
                        <div class="rate">-9%</div>
                        <div class="amount">{{ Bulletin.cotisations|number_format(0,'.','.') }} DA</div>
                    </div>
                    <div class="entry unpaid">
                        <div class="label"></div>
                        <div class="detail">Impots</div>
                        <div class="amount">{{ Bulletin.impots|number_format(0,'.','.') }} DA</div>
                    </div>
                </div>
                <div class="net_pay">
                    <div class="entry">
                        <div class="label"><strong>NET A PAYER</strong></div>
                        <div class="detail"></div>
                        <div class="rate"></div>
                        <div class="amount">{{ Bulletin.total|number_format(0,'.','.') }} DA</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("payslip").addEventListener("click", myFunction);

    function myFunction() {
        window.print();
    }
</script>
</html>
