{% extends 'base.html.twig' %}
{% block title %}Profil de {{ Employe.nom }}{% endblock %}
 {% block stylesheets %}
     <style>
         .center {
             margin-left: auto;
             margin-right: auto;
             width: auto;
         }
         body {
             margin: 0;
             padding: 0;
             background-color: #e6e9f2;
             height: 100vh;
         }
     </style>
 {% endblock %}
{% block body %}
    <h1> Profil de {{ Employe.nom}} {{ Employe.prenom}} </h1>
    <table  class=" table-bordered center" >
        <colgroup>
            <col span="1" style="background-color:#383B3A">
        </colgroup>
        <colgroup>
            <col span="1" style="background-color:white">
        </colgroup>
        <tr>
            <th style="color:white" scope="col" >ID</th>
            <th scope="col">{{ Employe.id}}</th>
        </tr>


        <tbody>
        <th style="color:white">Nom </th>
        <th>{{ Employe.nom}}</th>
        </tr>
        <tr>
            <th style="color:white">Prénom</th>
            <th>{{ Employe.prenom}}</th>
        </tr>
        <tr>
            <th style="color:white"> Email</th>
            <th>    {{ Employe.email }}   </th>
        </tr>
        <tr>
            <th style="color:white">Date de naissance</th>
            <th>{{ Employe.dateNaissance.format('Y-m-d')}}</th>
        </tr>
        <th style="color:white">Lieu de naissance</th>
        <th>{{ Employe.lieuNaissance}}</th>
        <tr>
            <th style="color:white">Sexe</th>
            <th>{{ Employe.sexe}}</th>
        </tr>
        <th style="color:white">Adresse</th>
        <th>{{ Employe.adresse}}</th>
        <tr>

        </tr>
        <th style="color:white">Numero de telephone</th>
        <th>{{ Employe.numeroTelephone}}</th>
        <tr>
            <th style="color:white">Code CCP</th>
            <th>{{ Employe.ccp}}</th>
        </tr>
        <th style="color:white">Situation Familiale</th>
        <th>{{ Employe.SituationFamiliale}}</th>
        <tr>
            <th style="color:white">Nombre d'enfants</th>
            <th>{{ Employe.nombreEnfant}}</th>
        </tr>
        <tr>
            <th style="color:white">Filiale</th>
            <th>{{ Employe.filiale}}</th>
        </tr>
        <tr>
            <th style="color:white">Poste</th>
            <th>{{ Employe.poste}}</th>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <a href="{{ path('comptable_bulletin_employe',{id:Employe.id}) }}"class="btn btn-dark"> Visualiser Bulletin de paie </a>
    <br>
    <br>
    <a href="{{ path('comptable_lister_employe')}}"class="btn btn-dark"> Retour </a>
{% endblock %}