{% extends 'base.html.twig' %}
{% block title %}Liste des employés{% endblock %}
{% block body %}
    <h1 style="color:#40A497"><strong><i>Liste des employés</i></strong></h1>
    <hr style="color: #AB99BD">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Poste</th>
            <th scope="col">Filiale</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for Employe in Employes %}
            <tr>
                <th scope="row">{{ Employe.id }}</th>
                <td>{{ Employe.email }}</td>
                <td>{{ Employe.nom }}</td>
                <td>{{ Employe.prenom }}</td>
                <td>{{ Employe.poste }}</td>
                <td>{{ Employe.filiale }}</td>
                <td>
                    <a href="{{ path('comptable_profile_employe',{id:Employe.id})}}" class="btn btn-dark">Afficher</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('comptable')}}"class="btn btn-dark">Retour</a>
{% endblock %}