{% extends 'base.html.twig' %}
{% block title %}Paie oubliée{% endblock %}
{% block stylesheets %}
    <style media="screen">
        .color-99CC5B{background-color:#00008B;}
        .color-99CC5B:hover{background-color:#00008B; }
        body {
            background-image: url('{{asset('/images/back.png')}}');
            background-repeat: repeat;
            margin: 0;
            padding: 0;
            background-color: #e6e9f2;
            height: 100vh;
        }
        .row {
            margin-left: 40%;
            margin-right: auto;
            width:  500px;
        }
    </style>
    <style>
        @media (max-width: 600px) {
            .color-99CC5B{background-color:#00008B;}
            .color-99CC5B:hover{background-color:#00008B; }
            body {
                background-image: url('{{asset('/images/back.png')}}');
                background-repeat: repeat;
                margin: 0;
                padding: 0;
                background-color: #e6e9f2;
                height: 100vh;
            }
            .row {
                margin-left: auto;
                margin-right: auto;
                width:  300px;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <h1 style="color:#40A497"><strong><i>Choisir la date</i></strong></h1>
    <hr style="color: #AB99BD">
    <br>
    <br>
    <div class="row">
        {{ form_start(formila) }}
        <div class="col-md-6">
            {{ form_row(formila.Date, { 'label': 'Date' }) }}<br>
            {{ form_row(formila.Confirmer, { 'label': 'Lancer' }) }}<br>
            <br>
            <br>
            <br>
            <br>
            <a href="{{ path('comptable',{date:date}) }}" class="btn btn-dark color-99CC5B">Retour</a>
        </div>
        {{ form_end(formila) }}
    </div>

{% endblock %}