{% extends 'base.html.twig' %}
{% block title %}Mes bulletins{% endblock %}
{% block stylesheets %}
    <style>
        .color-99CC5B{background-color:#00008B;}
        .color-99CC5B:hover{background-color:#00008B; }
        body {
            background-image: url('{{asset('/images/back.png')}}');
            margin: 0;
            padding: 0;
            background-color: white;
            height: 100vh;
        }
    </style>
{% endblock %}

{% block body %}
    <h1 style="color:#40A497"><strong><i>Mes bulletins de paie</i></strong></h1>
    <br>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Total heures supplementaires</th>
            <th scope="col">Total heures d'absence</th>
            <th scope="col">IEP</th>
            <th scope="col">Allocation familiale</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for Bulletin in Bulletin %}
            <tr>
                <th>{{ Bulletin.date.format('Y-m-d')}}</th>
                <th>{{ Bulletin.TotalHeureSupp}} heures</th>
                <th>{{ Bulletin.TotalHeureAbs}} heures</th>
                <th>+{{ Bulletin.IEP}} DA</th>
                <th>+{{ Bulletin.allocationFamiliale}} DA</th>
                <th scope="row">{{ Bulletin.total }} DA</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('comptable')}}" class="btn btn-dark color-99CC5B">Retour</a><br>
{% endblock %}